@page "/"
@using Client.Models
@using Client.Services
@inject HttpClient Http
@inject NavigationManager navigationManager


<PageTitle>Index</PageTitle>
<MudLayout>
    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <p><b>Trending Movies</b></p>   
        <div class="container" style="height: 310px">
            @foreach (var item in movies)
                {
                    var poster = "https://image.tmdb.org/t/p/w200" + @item.PosterPath;

                    <MudButton OnClick="@(() => MovieDetails(@item.Id))">
                        <MudPaper Elevation="2" Class="pa-4" Style="height: 250px; width: 180px">
                            <MudImage Src="@poster" Fluid="true" Alt=@item.Title Elevation="25" Class="rounded-lg"/>
                        </MudPaper>
                    </MudButton>
                }
        </div>
    </MudContainer>
</MudLayout>

@code {

    [Inject] private IMoviesData MoviesData { get; set; }
    private List<Movie> movies;
    
    void MovieDetails(int id)
    {
        navigationManager.NavigateTo($"MovieDetails/{id}");
    }
    
    protected override async Task OnInitializedAsync()
    {
        movies = new List<Movie>();
        movies = await MoviesData.GetTrending();
    }

    

}
