@page "/SeasonDetails"
@using Client.Services
<h3>SeasonDetails</h3>

@code {
    // [Inject]
    // private IMoviesData? MoviesData { get; set; }
    //
    // [Parameter]
    // public string? Value { get; set; }
    //
    // [Parameter]
    // public int? Num { get; set; }
    //
    //
    
}